__pycache__
.vscode
.idea
*.config
.DS_Store
SensorTool/.DS_Store
SensorToolData/.DS_Store
bin
dist
build
*.egg-info
*.pyc
sort/*.pkl
sort/*.npy
sort/0/
sort/1/
sort/2/
sort/3/
sort/rotate_dataset
SensorTool/cache.txt
SensorTool/rawCache


